<section class="client-pain-section section-padding">
	<div class="wrap">
		<h2 class="title">Hiring а designer doesn’t have to be so hard!</h2>
		<div class="text">
			<p class="paragraph">You have an amazing product, business or idea that will help people & you need someone to help you with design. But...</p>
			<ul>
				<li>Not sure who to trust...</li>
				<li>It takes a long time to decide who to hire...</li>
				<li>Is this the best person for my project...</li>
				<li>& other thoughts going through your head...</li>
			</ul>
		</div>
	</div>
</section>
