<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<!-- Calendly link widget end -->
<section class="cta-section section-padding">
	<div class="wrap">
		<h4>
			Wanna grow?
		</h4>
		<p class="paragraph">Book a call to discuss how can I help you grow faster!</p>

		<a href="" class="btn btn-primary btn-wide main-cta-btn" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/designedbyjovan/first-date'});return false;">Book a Call</a>

	</div>
</section>
