<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<!-- Calendly link widget end -->
<section class="cta-section section-padding">
	<div class="wrap">
		<h4>
			Are you about to create a website, product, MVP, trying to validate a product idea, or you are continuously improving your product?
		</h4>
		<p class="paragraph">Contact me to know more about each other and to find out if I can help you.</p>

		<a href="" class="btn btn-primary btn-wide main-cta-btn" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/designedbyjovan/first-date'});return false;">Book a Call</a>

	</div>
</section>
