<section class="landing-section section-padding-left">

	<div class="wrap">

		<div class="text">
			<h1 class="title landing-title">Bridge the gap between business goals and design with Jovan</h1>
			<p class="paragraph description pb-6">
				Jovan is UI/UX/Web designer working with Startups and also other companies that grow Startup-like culture on increasing landing page conversion and product user experience.
			</p>

			<a href="mailto:mail@jovansavic.com" class="btn btn-primary btn-wide main-cta-btn">Email Me</a>
<!--			<a href="/work" class="btn btn-secondary">See Work</a>-->
		</div>

		<img src="{{ '/assets/images/hero-jovan.png' | relative_url }}" alt="Image of Jovan Savic" title="Look! It's me!">

	</div>

</section>
