<section class="landing-section section-padding-left">

	<div class="wrap">

		<div class="text">
			<h1 class="title landing-title">Quick-start your project with predictable & <span class="gradient-text">guaranteed outcome</span></h1>
<!--			<p class="paragraph description pb-6">-->
<!--				Jovan is UX/Web designer working with growth-driven companies on increasing landing page conversion and improving product user experience.-->
<!--			</p>-->

			<a href="" class="btn btn-primary btn-wide main-cta-btn" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/designedbyjovan/first-date'});return false;">Schedule a FREE Kick-Off Call</a>
<!--			<a href="/work" class="btn btn-secondary">See Work</a>-->
		</div>

<!--		<img src="{{ '/assets/images/hero-jovan.png' | relative_url }}" alt="Image of Jovan Savic" title="Look! It's me!">-->

	</div>

</section>
