<section class="long-cta-section products-section section-padding">
	<div class="wrap">
		<h2 class="title">Passion Projects</h2>

		<div class="products">
			<a href="https://thetrack.app/" target="_blank" class="product bouncy">
				<img src="{{ '/assets/images/thetrack-screenshot.jpg' | relative_url }}" alt="Screenshot of The Track Website" title="Petbook, easy to use time tracking app">
				<h5>thetrack.app</h5>
			</a>
			<a href="https://petbook.online/" target="_blank" class="product bouncy">
				<img src="{{ '/assets/images/petbook-screenshot.jpg' | relative_url }}" alt="Screenshot of Petbook Website" title="Petbook, service for lost pets">
				<h5>petbook.online</h5>
			</a>

		</div>

	</div>
</section>
