<section class="relax-section section-padding">
	<h2 class="title">You can<br><span class="gradient-text">relax now</span></h2>
	<p class="paragraph">
		I help people just like you to create or improve their product & increase profits by converting more on landing pages!
	</p>

	<div class="wrap">

		<div class="testimonial">
			<aside>Vanessa P.</aside>
			<aside class="job-title">Agency Director (Music Industry)</aside>
			<p class="paragraph">"Fantastic Work! So accommodating and very helpful in communicating the technical side of his work."</p>
		</div>

		<div class="testimonial">
			<aside>Phil M.</aside>
			<aside class="job-title">Ex. PM at Microsoft</aside>
			<p class="paragraph">“One of the best UX designers! Great in Adobe XD prototyping. Fast and on time. Knows his stuff very well“</p>
		</div>

		<div class="testimonial">
			<aside>Stephan S.</aside>
			<aside class="job-title">CEO & Startup Founder</aside>
			<p class="paragraph">“We worked together and successfully created a website for my investment Startup! Great experience!“</p>
		</div>

	</div>

	<p class="paragraph">+ much more...</p>

	<a href="" class="btn btn-primary btn-wide main-cta-btn" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/designedbyjovan/first-date'});return false;">Schedule a FREE Kick-Off Call</a>

</section>
