<section class="testimonials-section section-padding">
	<div class="wrap"><h2 class="title">Testimonials</h2></div>
<!--	<div class="wrap">-->
<!--		-->
<!--	</div>-->
	<div class="wrap">
		<div class="testimonial">
			<div class="stars">
			</div>
			<h6 class="quote">
				Jovan is a fantastic designer. Most designers design for the purpose of design, Jovan has an approach to design that makes a lot more sense to me, as a product person, and CEO of a SAAS company. He focuses primarily on the goal of the design, and not in an annoying way like a lot of designers do, but in a way we're he renders the design around that goal and purpose.
				<br>
				<br>
				I highly recommend working with him, he does a lot of research on his own, which means that you are able to output a lot more than you would with other designers

			</h6>
			<aside>Emil H.</aside>
			<aside class="work-title">CEO, Helpjuice</aside>
		</div>
		<div class="testimonial">
			<div class="stars">

			</div>
			<h6 class="quote">
				"Fantastic Work! So accommodating and very helpful in communicating the technical side of his work."
			</h6>
			<aside>Vanessa P.</aside>
			<aside class="work-title">Agency Director (Music Industry)</aside>
		</div>

		<div class="testimonial">
			<div class="stars">

			</div>
			<h6 class="quote">
				“One of the best UX designers!
				Great in Adobe XD prototyping. Fast and on time.
				Knows his stuff very well“
			</h6>
			<aside>Phil M.</aside>
			<aside class="work-title">Ex. PM at Microsoft</aside>
		</div>

		<div class="testimonial">
			<div class="stars"></div>
			<h6 class="quote">
				“We worked together through, and successfully finished development of my website.“
			</h6>
			<aside>Stefan T.</aside>
			<aside class="work-title">Start-up Founder</aside>
		</div>
	</div>
</section>
