<section class="testimonials-section section-padding">
	<div class="wrap"><h2 class="title">Other’s Experience with Jovan</h2></div>
	<div class="wrap">
		<div class="testimonial">
			<div class="stars">

			</div>
			<h6 class="quote">
				“Jovan is an excellent freelancer! He has delivered more and once at short notice and his work is always on point.“
			</h6>
			<aside>Vanessa P.</aside>
			<aside>Director</aside>
		</div>

		<div class="testimonial">
			<div class="stars">

			</div>
			<h6 class="quote">
				“One of the best UX designers!
				Great in Adobe XD prototyping. Fast and on time.
				Knows his stuff very well“
			</h6>
			<aside>Phil M.</aside>
			<aside>Ex. PM at Microsoft</aside>
		</div>

		<div class="testimonial">
			<div class="stars"></div>
			<h6 class="quote">
				“We worked together through, and successfully finished development of my website.“
			</h6>
			<aside>Stefan T.</aside>
			<aside>Founder</aside>
		</div>
	</div>
</section>
