.landing-section
  padding-top: 6rem
  padding-bottom: 6rem
  overflow: hidden
  position: relative
  min-height: 100vh
  background: url("/assets/images/hero-jovan.png")
  background-size: auto 100%
  background-repeat: no-repeat
  background-position: right
  background-attachment: fixed

  @media (max-width: $small-bp)
    background-size: 120% auto
    background-position: -60% bottom
    background-attachment: scroll


  @media (max-width: $medium-bp)
    padding-right: 32px
  @media (max-width: $small-bp)
    padding-right: 16px
  @media (max-width: $smaller-bp)
    padding-right: 8px

  .wrap
    margin: auto
    display: flex
    justify-content: space-between
    max-width: 1440px
    align-items: flex-start
    flex-wrap: wrap


  .title
    font-size: 64px
    margin-bottom: 3rem
    .gradient-text
      background: linear-gradient(30deg, #75BCFF, #34f)

    @media (max-width: $small-bp)
      font-size: 32px

  .text
    padding-right: 4rem
    max-width: 800px
    margin-top: 2.5rem
    @media (max-width: $medium-bp)
      width: 100%
      margin-top: 0
      padding-bottom: 3rem
      padding-right: 0

  .description
    max-width: 520px
    font-weight: 300
    line-height: 1.5
    font-size: 1rem


  .main-cta-btn
    margin-right: 2rem
    font-size: 1rem
    @media (max-width: $medium-bp)
      margin-bottom: 1.5rem


  img
    max-height: 100%
    position: absolute
    top: 4rem
    z-index: -1
    right: 0
    opacity: .6
    @media (max-width: $medium-bp)
      top: auto
      right: auto
      left: 0
      bottom: 0
      width: 120%


