.working-with-section
  padding-top: 5rem
  padding-bottom: 5rem
  background: $negative-bg

  h3
    font-size: 2rem
    font-weight: 500
    max-width: 720px
    color: $negative-title-color

    @media (max-width: $small-bp)
      font-size: 1.5rem
