<footer class="site-footer section-padding">
	<div class="wrap">
		<div class="menu-items"></div>
		<aside>Designed & Developed by <a href="https:/www.jovansavic.com">Jovan</a>, All Rights Reserved!</aside>
	</div>
</footer>
<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<!-- Calendly link widget end -->
<script src="{{ "/assets/js/main.js" | relative_url }}" type="text/javascript"></script>
