<header class="site-header" role="banner">

	<div class="header-wrap">

		<a href="{{ '/' | relative_url }}" class="header-title"><span class="logo">J</span><h3>Jovan Savic</h3></a>

		<nav class="site-nav">
			<a href="{{ '/work' | relative_url }}" data-title="Get Inside my Brain" class="{% if page.url =='/work/' %}current-page{% endif %}">Case Studies</a>
			<a href="{{ '/blog' | relative_url }}" data-title="Read Jovan's Blog" class="{% if page.url =='/blog/' %}current-page{% endif %}">Blog</a>
			<a href="mailto:{{site.email}}" class="btn btn-primary">Schedule a Call</a>
		</nav>

		<div class="menu-toggle" id="menu-toggle">
			<span></span>
		</div>

	</div>


</header>

<div class="mobile-menu" id="mobile-menu">

</div>
