<header class="site-header" role="banner">

	<div class="header-wrap">
		<nav class="first-nav">
			<a href="{{ '/contact' | relative_url }}" title="Open Contact Page">contact jovan</a>
			<a href="{{ '/about' | relative_url }}" title="More About Jovan">about jovan</a>
			<a href="{{ '/process' | relative_url }}" title="Find Out More About Jovan's Process">process</a>
		</nav>

		<a href="{{ '/' | relative_url }}" class="header-title"><h3>thejovan</h3></a>

		<nav class="second-nav">
			<a href="{{ '/work' | relative_url }}" title="Client work by Jovan">projects/work</a>
			<a href="{{ '/products' | relative_url }}" title="Products by Jovan">products</a>
			<a href="{{ '/blog' | relative_url }}" title="Read Jovan's Blog">blog</a>
		</nav>

		<div class="menu-toggle" id="menu-toggle">
			<span></span>
		</div>

	</div>


</header>

<div class="mobile-menu" id="mobile-menu">

</div>
