<header class="site-header" role="banner">

	<div class="header-wrap">
		<nav class="first-nav">
			<a href="mailto:mail@jovansavic.com" data-title="Send Mail">contact jovan</a>
<!--			<a href="{{ '/contact' | relative_url }}" data-title="Open Contact Page">contact jovan</a>-->
<!--			<a href="{{ '/about' | relative_url }}" data-title="Skills, Culture, Interests">about jovan</a>-->
			<a href="{{ '/process' | relative_url }}" data-title="Jovan's Process With Clients">process</a>
		</nav>

		<a href="{{ '/' | relative_url }}" class="header-title" data-title="Go to Homepage"><h3>jovan.design</h3></a>

		<nav class="second-nav">
<!--			<a href="https://www.behance.net/jovansavic/" target="_blank" data-title="Client work by Jovan">projects/work</a>-->
			<a href="{{ '/work' | relative_url }}" data-title="Client work by Jovan">projects/work</a>
<!--			<a href="{{ '/products' | relative_url }}" data-title="Products by Jovan">products</a>-->
			<a href="{{ '/blog' | relative_url }}" data-title="Read Jovan's Blog">blog</a>
<!--			<a href="https://dev.to/jovansavic/" target="_blank" data-title="Read Jovan's Blog">blog</a>-->
		</nav>

		<div class="menu-toggle" id="menu-toggle">
			<span></span>
		</div>

	</div>


</header>

<div class="mobile-menu" id="mobile-menu">

</div>
