.site-header
  left: 0
  right: 0
  top: 0
  background: $body-bg
  position: fixed
  z-index: 999
  height: 64px
  border-bottom: 1px solid $main-border

  .btn
    padding-top: 6px
    padding-bottom: 6px
    border-radius: 12px

  @media (max-width: $small-bp)
    left: 0
    right: 0
    top: 0


  nav
    display: flex
    align-items: center
    a
      margin-left: 1rem
    @media (max-width: 800px)
      display: none

  .header-wrap
    max-width: 1440px
    padding-left: 32px
    padding-right: 32px
    height: 100%

    position: relative
    display: flex
    margin: auto
    justify-content: space-between
    align-items: center

    @media (max-width: $high-bp)
      padding-left: 1rem
      padding-right: 1rem


  .header-title
    display: flex
    align-items: center
    .logo
      width: 20px
      height: 20px
      font-size: 12px
      font-weight: 900
      align-items: center
      justify-content: center
      display: inline-flex
      border-radius: 8px
      background: $negative-bg
      color: $negative-title-color

    h3
      font-size: 14px
      font-weight: 600
      margin-left: 6px

  a
    color: $nav-item-color
    text-decoration: none
    font-weight: 500
    font-size: 14px
    &.current-page
      text-decoration: underline
      color: $accent




.mobile-menu
  @media (min-width: 801px)
    display: none
  position: fixed
  top: -100vh
  opacity: 0
  transition: .3s
  left: 1rem
  right: 1rem
  background: $soft-bg
  padding: 1rem
  padding-bottom: 2rem
  border-bottom: 1px solid $main-border

  @media (max-width: $small-bp)
    left: 0
    right: 0


  &.open
    top: 64px
    //bottom: 1rem
    opacity: 1


  nav
    text-align: left
    a
      display: block
      font-size: 1.4rem
      color: $nav-item-color
      text-decoration: none
      padding-top: .8rem
      padding-bottom: .8rem
      &.current-page
        text-decoration: underline
        color: $accent


.menu-toggle
  @media (min-width: 801px)
    display: none
  width: 40px
  height: 40px
  border-radius: 16px
  background: $nav-title-bg
  position: relative

  span,
  span:before,
  span:after
    transition: .3s
    display: block
    content: ''
    position: absolute
    width: 24px
    height: 2px
    background: $nav-title-color
  span
    top: 50%
    left: 8px

  span:before
    left: 0
    top: -8px
  span:after
    left: 0
    bottom: -8px

  &.open
    span,
    span:before,
    span:after
      transform: rotate(45deg)
    span:before
      opacity: 0
    span:after
      opacity: 0


