body
  font-size: 16px
  background: $soft-bg
  border: 1rem solid $main-border
  @media (max-width: 768px)
    font-size: 14px!important
  margin: 0
  padding: 0

*
  margin: 0
  font-family: $primary-font
  box-sizing: border-box
  line-height: 1.2


img
  border-radius: .5rem



html
  --hard-bg: #000000
  --soft-bg: #151515
  --negative-bg: #F4F4F4


  --accent: #4717F6

  --title-color: #FFFFFF
  --negative-title-color: #151515

  --paragraph-color: rgba(#FFFFFF, .7)
  --negative-paragraph-color: rgba(#000000, .7)

  --nav-item-color: #fff
  --nav-title-color: #000
  --nav-title-bg: #fff


  --main-border: #363636
