.title
  font-size: 3rem
  font-weight: bold
  color: $title-color
  margin-top: 1rem
  margin-bottom: 1rem

  @media (max-width: $medium-bp)
    font-size: 2rem

  &.negative
    color: $negative-title-color

.paragraph
  font-size: 1.5rem
  color: $paragraph-color
  margin: 0

  @media (max-width: $medium-bp)
    font-size: 1rem

  &.negative
    color: $negative-paragraph-color


.tab-title
  padding-left: 1rem
  padding-right: 1rem
  padding-top: .5rem
  padding-bottom: .5rem
  background: $accent
  color: white
  display: inline-block
  font-size: 1.5rem
  @media (max-width: $medium-bp)
    font-size: 1rem


.gradient-text
  background: linear-gradient(30deg, #F475FF, #3363FF)
  -webkit-background-clip: text!important
  -webkit-text-fill-color: transparent!important

h1, h2, h3, h4, h5, h6, strong, a, li
  color: $title-color

p
  color: $paragraph-color


li
  line-height: 1.6

