.title
  font-size: 3rem
  font-weight: bold
  color: $title-color
  margin-top: 1rem
  margin-bottom: 1rem

  @media (max-width: $medium-bp)
    font-size: 2rem

  &.negative
    color: $negative-title-color

.paragraph
  font-size: 1.5rem
  color: $paragraph-color
  margin: 0

  @media (max-width: $medium-bp)
    font-size: 1rem

  &.negative
    color: $negative-paragraph-color


.tab-title
  padding-left: 1rem
  padding-right: 1rem
  padding-top: .5rem
  padding-bottom: .5rem
  background: rgba(0, 153, 255, .1)
  color: #4D7BFF
  display: inline-block
  font-size: 1.5rem
  border-radius: 12px
  @media (max-width: $medium-bp)
    font-size: 1rem


.gradient-text
  background: linear-gradient(30deg, #F475FF, #3363FF)
  -webkit-background-clip: text!important
  -webkit-text-fill-color: transparent!important
  display: block
  animation-name: gradient-animation
  animation-duration: 2.5s
  animation-iteration-count: infinite

h1, h2, h3, h4, h5, h6, strong, a, li
  color: $title-color

p
  color: $paragraph-color


li
  line-height: 1.6





@keyframes gradient-animation
  0%
    background-size: 100%
  50%
    background-size: 200%
  100%
    background-size: 100%
